.slider-block {
  max-width: 700px;
  margin-left: 80px;
  margin-top: 100px;
}

.title-portfolio {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #44107a;
  margin-top: 100px;
  margin-right: 250px;
}
